<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Archive</title>
    <link href="styles/index.css" rel="stylesheet" type="text/css" />
    <link href="styles/Pokemon.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  </head>

  <body class="bg">
    <div class="title">
      <h1><a class="select-text" href="/">Pokéteam</a></h1>
    </div>
    <div class="all"><%- table %></div>
  </body>
</html>
