<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Process Team</title>
    <link href="styles/index.css" rel="stylesheet" type="text/css" />
    <link href="styles/Pokemon.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  </head>

  <body class="bg">
    <div class="title">
      <h1><a class="select-text" href="/">Pokéteam</a></h1>
    </div>

    <div class="container">
      <form action="/processTeam" method="post">
        <label><strong>Name</strong></label>
        <br />
        <input
          type="text"
          name="name"
          maxlength="30"
          pattern="^[\w\s-]+"
          required
          autocomplete="off"
        />
        <label for="pokemon"><strong>Pick your Pokémons</strong></label>
        <br />
        <% for (let i = 0; i < 6; i++) { %>
        <select name="pokemons" id="pokemons" required>
          <option value="" disabled selected>Select a Pokémon</option>
          <% pokemons.results.forEach((pokemon) => { %>
          <option value="<%= pokemon.name %>"><%= pokemon.name %></option>
          <% }); %>
        </select>
        <% } %>
        <br />
        <input class="select-text" type="submit" />
      </form>
    </div>
  </body>
</html>
