<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Pokéteam</title>
    <link href="styles/index.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  </head>

  <body class="bg">
    <div class="title">
      <h1><a class="select-text" href="/">Pokéteam</a></h1>
    </div>

    <div class="container">
      <h2><a class="select-text" href="/create">Create</a></h2>
      <h2><a class="select-text" href="/archive">Archive</a></h2>
    </div>
  </body>
</html>
