<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Pokéteam</title>
    <link href="styles/index.css" rel="stylesheet" type="text/css" />
    <link href="styles/Pokemon.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  </head>

  <body>
    <div class="title">
      <h1><a href="/">Pokéteam</a></h1>
    </div>

    <div class="container">
      <h2><a href="/create">Create your team</a></h2>
      <h2><a href="/archive">Archive</a></h2>
    </div>
  </body>
</html>
