* {
	box-sizing: border-box;
}

body {
  background: #EFEFBB;
  background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
  background-image: url('/images/bgt.png'), linear-gradient(#D4D3DD, #EFEFBB);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
	margin: 0;
  font-family: 'Pokemon';
  text-align: center;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: black;
  transition: all .2s ease-in-out;
}

a:hover {
  font-size: larger;
  color: white;
}

h1 {
  font-size: 5em;
  letter-spacing: 3px;
  margin-top: 0;
}

h2 {
  font-size: 3em;
}

.container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.form-container {
  margin-bottom: 5em;
}

.all {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.all table {
  background-image: linear-gradient(#D4D3DD, #EFEFBB);
}