* {
	box-sizing: border-box;
}

@font-face {
  font-family: 'Pokemon';
  src: url('PokemonSolid.ttf') format('truetype');
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: 'Pokemon';
  src: url('PokemonHollow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #EFEFBB;
  background-image: linear-gradient(#D4D3DD, #EFEFBB);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: contain;
	margin: 0;
  font-family: 'Pokemon';
  text-align: center;
  letter-spacing: 1.5px;
}

.bg {
  background-image: url('/images/bgt.png'), linear-gradient(#D4D3DD, #EFEFBB) !important;
}

a {
  text-decoration: none !important;
  color: black;
}

h1 {
  font-size: 5rem;
  font-size: calc(2.75vw + 2.75vh);
  letter-spacing: 3px;
  margin: 0;
}

h2 {
  font-size: 3rem;
  font-size: calc(1.5vw + 1.5vh);
  margin: 0
}

h3 {
  font-size: 2rem;
  font-size: calc(1vw + 1vh);
  margin: 0;
}

p {
  font-size: 1.5rem;
  font-size: calc(0.75vw + 0.75vh);
  margin: 0;
}

label {
  font-size: 2rem;
}

input[type="text"] {
  font-family: 'Pokemon';
  font-weight: bold;
  text-align: center;
	margin: 0 auto;
  border-radius: 0.5rem;
  width: 12%;
  display: block;
}

input[type="submit"], #save { 
  font: 900 2em "Pokemon";
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.05rem;
}

.container, #save {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2.5rem;
}

.pokemon-container {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link-container {
  position: relative;
  top: 0;
}

.back {
  float:left;
  margin-left: 2rem;
}

.home {
  float:right;
  margin-right: 2rem;
}


.all {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.all table {
  background-image: linear-gradient(#D4D3DD, #EFEFBB);
  border: 1px solid black;
  border-collapse: collapse;
}

.all tr, .all td {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.all .tname {
  width: 15rem;
  max-width: 15rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.all th {
  font-size: 2rem;
}

.all td {
  font-size: 1.15rem;
  font-weight: bold;
}

.team-container {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1920px;
}

.team {
  display: flex;
}

.team img {
  width: 100%; 
}

.select-image {
  transition: all 0.5s ease;
}

.select-image:hover {
  transform: scale(1.1);
}

.select-text {
  text-decoration: none !important;
  color: black;
  transition: color 0.5s; 
}

.select-text:hover {
  color: white;
}

.pagination ul {
  font-family: 'Pokemon';
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.pagination a {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.icon {
  width: 58px;
  height: 58px;
}

.sprites img {
  margin: 4px 8px;
  margin-bottom: -10px;
}

.disabled {
  pointer-events: none;
  opacity: 0.15;
}

.active a {
  cursor: default;
}