* {
	box-sizing: border-box;
}

body {
  background: #EFEFBB;
  background-image: linear-gradient(#D4D3DD, #EFEFBB);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
	margin: 0;
  font-family: 'Pokemon';
  text-align: center;
  letter-spacing: 1.5px;
}

.bg {
  background-image: url('/images/bgt.png'), linear-gradient(#D4D3DD, #EFEFBB) !important;
}

a {
  text-decoration: none !important;
  color: black;
}

h1 {
  font-size: 5rem;
  letter-spacing: 3px;
  margin: 0;
}

h2 {
  font-size: 3rem;
  margin: 0
}

h3 {
  font-size: 2rem;
  margin: 0;
}

label {
  font-size: 2rem;
}

input[type="text"] {
  color: #333;
	margin: 0 auto;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: white;
  border: none;
  width: 30%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

input[type="submit"] { 
  font: 900 2em "Pokemon";
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.05rem;
}

.container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 5em;
}

.all {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.all table {
  background-image: linear-gradient(#D4D3DD, #EFEFBB);
  border: 1px solid black;
  border-collapse: collapse;
}

.all tr, .all td {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.all .tname {
  width: 15rem;
  max-width: 15rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.all th {
  font-size: 2rem;
}

.all td {
  font-size: 1.15rem;
  font-weight: bold;
}

.team {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1920px;
}

.team img {
  width: 15%; 
}

.select-image {
  transition: all 0.5s ease;
}

.select-image:hover {
  transform: scale(1.1);
}

.select-text {
  text-decoration: none !important;
  color: black;
}

.select-text:hover {
  color: white;
}

.pagination ul {
  font-family: 'Pokemon';
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.pagination a {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  transition: color 0.5s, font-size 0.5s;
  cursor: pointer;
  border-radius: 20rem;
  font-size: 1.5rem;

}

.pagination a:hover {
  color: white;
  font-size: 2rem;
}

.icon {
  width: 58px;
  height: 58px;
}

.sprites img {
  margin: 4px 8px;
  margin-bottom: -10px;
}
